.header
    padding: 6px 36px
    z-index: 9999
    margin-bottom: 40px
    position: absolute
    // background-color: $black
    top: 23px
    left: 0
    width: 95%
    max-width: 1345px

    border-radius: 74px
    background: rgba(255, 255, 255, 0.30)
    backdrop-filter: blur(13px)
    left: 50%
    transform: translateX(-50%)

    .logo
        width: 183px

    p
        margin: 0
        padding: 2px 0
        text-align: center
        max-width: calc( 100% - 420px )

    @media screen and ( max-width: 1200px )
        p
            font-size: 12px
            padding: 0 0px
    @media screen and ( max-width: 900px )
        justify-content: center
        border-radius: 0
        transform: none
        left: 0
        width: 100%
        padding: 7px 100px 10px
        top: 10px
        .tell
            order: 2
            padding: 3px 0 3px 15px

        .logo
            width: 50%
            height: 48px

        p
            order: 3
            max-width: 500px
            font-size: 12px

    @media screen and ( max-width: 900px )
        padding: 7px 15px 15px

.tell
    font-weight: 700
    font-size: 16px
    img, span
        display: inline-block
        vertical-align: middle
    span
        margin-left: 10px

    @media screen and ( max-width: 900px )
        img
            width: 33px
        span
            display: none
